pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "datsetus5",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "InitFileList",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileList",
					"value": {
						"value": "@json('[]')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LoopFiles",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFileDetails",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"fieldList": [
									"lastModified"
								]
							}
						},
						{
							"name": "AppendFileToList",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "GetFileDetails",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileList",
								"value": {
									"value": "@json(concat('{\"name\": \"', item().name, '\", \"lastModified\": \"', activity('GetFileDetails').output.lastModified, '\"}'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SortAndPickTop1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "LoopFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine",
					"parameters": {
						"fileArray": "@variables('fileList')",
						"topN": 5
					}
				}
			},
			{
				"name": "ForEach_TopN_Files",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SortAndPickTopN').output.runOutput",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LogTopFile",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": "https://example.com/log",
								"body": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"fileList": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}